<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="cardbox">
        <div class="title">
            <p class="heading">User Registration</p>
        </div>
        <div class="cardbox-body">
            <form action="{{url_for('register')}}" method="POST" id="form">
                <div class="form-group mb-2">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control form-control-sm" placeholder="" required>
                </div>
                <div class="form-group mb-2">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control form-control-sm" placeholder="" required>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control form-control-sm" placeholder="" required>
                </div>
                <div class="form-group d-grid gap-2 mx-auto ">
                    <input type="submit" id="signup-button" onclick="event" class="btn btn-primary" value="Sign Up" name="submit">
                </div>
                <p style="text-align: center; font-size: 15px; padding-top: 10px;">Already have an account? <a href="{{url_for('login')}}" style="text-decoration: None;">Login</a></p>
                <div class="msg" style="color: {{clr}};"><p>{{msg}}</p></div>
            </form>
        </div>
    </div>
</body>
</html>