<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!--css-->
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://kit.fontawesome.com/4a14f9e389.js" crossorigin="anonymous"></script>
  <title>Nutrion: Nutrition Assistant</title>
  <style>
    table,th,td{
      border:1px solid black;
    }
  </style>
</head>
<body>
  <!--#e3f2fd-->
  <nav class="navbar" style="background-color: #fff;">
    <a class="navbar-brand" href="{{url_for('index')}}">Nutrion: Nutrition Assistant</a>
    <div class="nav-right">
      <a href="{{url_for('nutrition')}}" class="button">Food Analyzer</a>
      <a href="{{url_for('history')}}" class="button">View History</a>
      <a href="{{url_for('logout')}}" id="register" class="btn btn-outline-danger">Log out</a>
    </div>
  </nav>

  <!--
    <div class="banner">
      <section class="food-search ">
        <div class="title">
          <h3 class="content"> Get Your Nutritions Check <br>With Nutrion</h3>
        </div>
        <div class="image">
          <img src="/static/src/desktop img.png" alt="" id="image">
        </div>
      </section>
    </div>
-->
    <div class="container-content">
        {% block content%}
        <center>
          <h3>Your dish is {{food}}!!!</h3><br>
            <h3 style="color: green; text-align: center">Nutrition Values</h3>
            <h3 style="text-align: center;">
              <table class="table" style="width:100%">
                <tr class="table">
                  <th><center>Nutrition</center></th>
                  <th><center>Values</center></th>
                  <th><center>Calories</center></th>
                </tr>
                <tr class="table-primary">
                  <td><center>Fat</center></td>
                  <td><center>{{fat}}</center></td>
                  <td><center>{{fat_cal}}</center></td>
                </tr>
                <tr class="table-success">
                  <td><center>Protein</center></td>
                  <td><center>{{protein}}</center></td>
                  <td><center>{{protein_cal}}</center></td>
                </tr>
                <tr class="table-danger">
                  <td><center>Carbs</center></td>
                  <td><center>{{carbs}}</center></td>
                  <td><center>{{carbs_cal}}</center></td>
                </tr>
                <tr class="table-active">
                  <Td colspan="2"><center>Total</center></Td>
                  <td><center>{{total_calories}}</center></td>
                </tr>
              </table></h3>
             </center>
        {%endblock%}
        
    </div>
    
    <br><br>
    <footer>
      <div class="footer">
          <div class="footer-text">
              <h4>Design and Developed by <a href="https://www.linkedin.com/in/emayakeerthi" target="_blank" rel="noopener noreferrer">AAER</a></h4>
          </div>
          <div class="outer-footer">
               <div class="social-media">
                   <ul>
                       <li class="sm-content follow-me">Follow us on </li>
                       <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
                       <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
                       <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a></li>
                       <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></li>
                   </ul>
               </div>
               <div class="contact">
                    <ul>
                        <li class="sm-content reach-me">Reach us </li>
                        <li class="sm-content"><a href="mailto:nutritionassistantapplication@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i>Email</a></li>
                        <li class="sm-content"><a href="tel:+918428366507" target="_blank" rel="noopener noreferrer"><i class="fas fa-mobile-alt"></i>Phone</a></li>
                    </ul>
               </div>
          </div>
      </div>
    </footer>

    </body>
</html>