<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!--css-->
  <link rel="stylesheet" href="/static/css/Nutrition.css">
  <script src="https://kit.fontawesome.com/4a14f9e389.js" crossorigin="anonymous"></script>
  <title>Find Nutrition</title>
</head>
<body>
  <!--#e3f2fd-->
  <nav class="navbar" style="background-color: #fff;">
    <a class="navbar-brand" href="{{url_for('index')}}">Nutrion: Nutrition Assistant</a>
    <div class="nav-right">
      <a href="{{url_for('index')}}" class="button">Home</a>
      <a href="{{url_for('profile')}}" class="button">View Profile</a>
      <a href="{{url_for('logout')}}" id="register" class="btn btn-outline-danger">Log out</a>
    </div>
  </nav>
  <div class="container-content">
    {% block content%}
    <center>
        <div class="container">
            <div class="border" style="width: 50%; border-radius: 10px; background-color:lightgray;" >
            <div class="title"style="font-size:xx-large" ><h>Find Nutrition </h></div><br><br>
            <form method="POST" enctype="multipart/form-data" action="{{url_for('uploadFile')}}">
                <input type="file" id="myFile" name="uploaded-file" ><br><br>

                <div class="paragraph" style="font-size:small"><p>(NOTE:Upload file in .jpg,.png )</p><br><br></div>
                <input type="submit" class="btn btn-primary"  value="Submit" name="submit" style="border: none; width: 100%;">
            </form>

         </div>   
    </center>
    {%endblock%}

  </div>

    <br><br>

  <footer>
    <div class="footer">
        <div class="footer-text">
            <h4>Design and Developed by <a href="https://www.linkedin.com/in/emayakeerthi" target="_blank" rel="noopener noreferrer">AAER</a></h4>
        </div>
        <div class="outer-footer">
             <div class="social-media">
                 <ul>
                     <li class="sm-content follow-me">Follow us on </li>
                     <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
                     <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
                     <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a></li>
                     <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></li>
                 </ul>
             </div>
             <div class="contact">
                  <ul>
                      <li class="sm-content reach-me">Reach us </li>
                      <li class="sm-content"><a href="mailto:nutritionassistantapplication@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i>Email</a></li>
                      <li class="sm-content"><a href="tel:+918428366507" target="_blank" rel="noopener noreferrer"><i class="fas fa-mobile-alt"></i>Phone</a></li>
                  </ul>
             </div>
        </div>
    </div>
  </footer>
  <script>
    var button = document.getElementById("capture");
    var img = document.getElementById("camera");
    if(button=="Capture"){
      img.style.visibility = "visible";
    }

  </script>
  </body>
</html>