<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!--css-->
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://kit.fontawesome.com/4a14f9e389.js" crossorigin="anonymous"></script>
  <title>Profile</title>
</head>
<body>
  <!--#e3f2fd-->
  <nav class="navbar" style="background-color: #fff;">
    <a class="navbar-brand" href="{{url_for('index')}}">Nutrion: Nutrition Assistant</a>
    <div class="nav-right">
      <a href="{{url_for('index')}}" class="button">Home</a>
      <a href="{{url_for('profile')}}" class="button">View Profile</a>
      <a href="{{url_for('logout')}}" id="register" class="btn btn-outline-danger">Log out</a>
    </div>
  </nav>


    <div class="container-content">
        {% block content%}
        <center>
            <h3 style="color: {{clr}}; text-align: center">{{msg}}</h3>
            <div class="row">
                <div class="column1" >
                  <img src="/static/src/profile-icon.png" alt=""  style="height: 200px;border: 2px solid gray;border-radius: 50%;">
                </div>
                <div class="column2">
                  
                <h3 style="font-weight: bold;">{{name}}</h3>
                <h4>Email: {{email}}</h4>
                <a href="{{url_for('change_password')}}" id="changepwd">Change Password</a>
                <a href="{{url_for('delete')}}" id="delete" style="margin-left: 15px;">Delete Account</a>
                </div>
            </div>
              <a href="{{url_for('nutrition')}}"><input type="button" class="btn btn-primary" value="Find Nutrition" style="background-color: #4CAF;margin-left: -4%;border: none;" ></a>
              <a href="{{url_for('history')}}"><input type="button" class="btn btn-primary" value="View History" style="background-color:grey;margin-left: 30%;border: none;"></a>
        </center>

        <br><br>
        

          
        
        {%endblock%}
        
    </div>
    
    <br><br>
    <footer>
      <div class="footer">
          <div class="footer-text">
              <h4>Design and Developed by <a href="https://www.linkedin.com/in/emayakeerthi" target="_blank" rel="noopener noreferrer">AAER</a></h4>
          </div>
          <div class="outer-footer">
               <div class="social-media">
                   <ul>
                       <li class="sm-content follow-me">Follow us on </li>
                       <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
                       <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
                       <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a></li>
                       <li class="sm-content"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></li>
                   </ul>
               </div>
               <div class="contact">
                    <ul>
                        <li class="sm-content reach-me">Reach us </li>
                        <li class="sm-content"><a href="mailto:nutritionassistantapplication@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i>Email</a></li>
                        <li class="sm-content"><a href="tel:+918428366507" target="_blank" rel="noopener noreferrer"><i class="fas fa-mobile-alt"></i>Phone</a></li>
                    </ul>
               </div>
          </div>
      </div>
    </footer>

    </body>
</html>